html, body {
  padding: 0;
  margin: 0;
}
.hide-me {
  opacity: .2;
  transform: scale(.70);
}
#info{
  text-align: justify;
  
  overflow: hidden;
  transition: height 1s ease-in;

}
h1 {
  margin-top: 0;
  font-size: 3em;
  font-weight: bolder;
  display: inline-block;
  color:white;
  text-shadow: 0 0 .8em  #7cb7ff;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 50px 10%;
  background-color:rgba(244,194,102,.6);
}

button {
  background-color: #fce37e;
  color: #FFF;
  border: none;
  padding: .5em;
  font-size: 1.5rem;
  border-radius: .2em;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 5px #fca47b;
  margin:.5em;
  transition: opacity .4s ease-out, transform .4s ease-out;
  position: relative;
}

button:hover {
  background-color: #fcd849;
}

button:active {
  background-color: #f7ac2c;
  box-shadow: none;
  position: relative;
  bottom: -3px;
  left: 2px;
}

p {
  padding: 4px 0 2px 8px;
  line-height: 1.7;
  list-style: none;
  margin: 0;
  text-shadow: 1px 1px 1px #2325a0;

}

.container{
  background-color:rgba(89,230,150,.8);  
  width:15em;
  display: inline-block;
  padding:1em;
  margin:.5em;
  color:#7e7efc;
  position:relative;
  border-radius: .2em;
  box-shadow: 1px 1px 3px 1px rgba(3,3,3,.2)
}

#pageSize{
  width:3em;
  margin:auto 2em;
}

.count{
  position:absolute;
  bottom:0;
  right:1em;

}
